@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
    padding: 0;
    margin: 0;
}

.center-container {
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divider {
    border-bottom: #202020 solid 2px;
    width: 100px;
}

#embed-container {
    position: relative;
    width: 1200px;
    height: 675px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    background-color: #171717;
    overflow: hidden;
}

#loading-screen {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 889;
    color: white;
}

#embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
}

#fullscreen-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    border: none;
    background-color: #111;
    padding: 15px;
    cursor: pointer;
    transition: .2s;
    border-radius: 0;
}


#fullscreen-button:hover {
    background-color: #222;
}

#fullscreen-button:hover path {
    fill: #4287f5;
}

#fullscreen-icon {
    fill: #fff;
    stroke: none;
    width: 18px;
    height: 18px;
}

.fullscreen-text {
    text-align: center;
    margin-top: 10px;
}

.bar {
    padding: 15px;
    position: absolute;
    padding-left: calc(100% - 15px);
    bottom: 0px;
    left: 0px;
    display: flex;
    height: 20px;
    background-color: #111;
    z-index: 9998;
    user-select: none;
    overflow: hidden;
    bottom: 0px;
    transition: .2s;
}

.bar:hover .hide-bar {
    opacity: 1;
    visibility: visible;
}

.hide-bar {
    bottom: 0;
    left: calc(50% - 30px);
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    color: white;
    position: absolute;
    font-size: 10px;
    text-decoration: transparent;
    transition: .3s;
    cursor: pointer;
    background-color: #000;
    padding: 5px;
    border-radius: 10px;
}


.hide-bar svg {
    vertical-align: middle;
    color: white;
    fill: white;
    height: 12px;
    width: 12px;
}

.show-bar {
    display: none;
    bottom: 0;
    left: calc(50% - 30px);
    z-index: 9999;
    color: white;
    position: absolute;
    font-size: 10px;
    text-decoration: transparent;
    transition: .3s;
    cursor: pointer;
    background-color: #000;
    padding: 5px;
    opacity: 0;
    border-radius: 10px;
}

center:hover .show-bar {
    opacity: 1;
}

.show-bar svg {
    vertical-align: middle;
    color: white;
    fill: white;
    height: 12px;
    width: 12px;
}

.game-title {
    bottom: 0;
    left: 0;
    z-index: 9999;
    color: white;
    position: absolute;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    text-decoration: transparent;
    transition: .3s;
    cursor: pointer;
    font-weight: bolder;
}

.game-title:hover {
    color: #4287f5;
    text-decoration: dashed;
    transform: scale(1.1);
}

.game-title img {
    height: 20px;
    vertical-align: middle;
    margin-left: 7px;
    position: absolute;
}

.thumbnail img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.thumbnail {
    height: 20px;
    width: 20px;
    bottom: 0;
    left: 0;
    z-index: 9999;
    position: absolute;
    font-size: 15px;
    margin-left: 20px;
}

.button3d {
    cursor: pointer;
    color: white;
    background-color: #111;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    border-color: transparent;
    font-size: 15px;
    font-family: Arial, sans-serif;
    transition: all 0.1s;
    box-shadow: 0px 10px 0px #000;
    margin-top: 50px;
}

.button3d:active {
    box-shadow: 0px 0px 0px #000;
    transform: translateY(10px);
}

#game-title {
    bottom: 0;
    left: 0;
    z-index: 9999;
    color: white;
    position: absolute;
    margin-left: 220px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

.games-title {
    bottom: 0;
    left: 0;
    z-index: 9999;
    color: white;
    position: absolute;
    margin-left: 170px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}